<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 style="text-align: center; background-color: ">eWellness - Dobro došli</h1>
    <p style="text-align: justify">
        Dragi/a {Ime},
        <br /><br />
        Dobro došli na eWellness aplikaciju. Za sve upite i nedumice unutar naše aplikacije
        nam pošaljite mail na <a href="mailto: ewellness.rs2@gmail.com">sljedeću adresu.</a>
        <br />
        Zahvaljujemo se na registraciji i povjerenju,
        <br />
        Vaš <b>eWellness team.</b>
    </p>
</body>
</html>